@import "./variables";

.header{
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-image: $gradient1;

    &__anchor--activo{
        color: #242424;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-decoration-line: underline;
    }

    &__logo{
        width: 160px;
        height: 160px;
    }

    &__list{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 0rem;
        padding-left: 12rem;
    }

    &__anchor{
        color: #242424;
        font-family: 'Montserrat', sans-serif;
        text-decoration: solid;
        font-weight: bold;
    }

    &__item{
        display: inline-block;
        padding: 0.5rem 0.5rem;
        margin: 0.5rem;
    }
}