/* NOSOTROS */

.main{
    

    &__h1{
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    font-family: 'Lato', sans-serif;  
    }

    &__nosotros{
    color: black;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 3rem 3rem;
    }

    .color-grey{
    color:#242424; 
    }

    &__fotonosotros{
        height: 640px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    &__matiasuno{
        width: 500px;
        height: 640px;
    }
    
    &__matiasdos{
        width: 250px;
        height: 320px; 
    }
    
    &__matiastres{
        width: 250px;
        height: 320px;
    }
}